@import "partials/fonts";
@import "partials/variables";

.citi-bg-section {
  background: url("../images/citi/citi-cover.png");
  color: #fff;
  background-size: cover;
  background-position: center center;

  .header-arrow {

    path {
      stroke: #fff;
    }
  }

  .case-top-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0;

    h1 {
      margin-bottom: 40px;
    }
  }

  .case-top-section-text-block {
    max-width: 600px;
  }
}

.marketplace-block {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 140px;
    height: 37px;

    &:first-child {
      margin-right: 35px;
    }
  }
}

.citi-top-images-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: -61px;
  right: 0;
  padding-right: 50px;

  .tags-block {
    width: 245px;
    position: absolute;
    top: 91px;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.citi-image {
  width: 640px;
}

.citi-section {

  h2 {
    color: $colorRed;
  }

  p {
    color: $colorDeepBlue;
    font-size: 32px;
    line-height: 150%;
  }
}

.citi-first-section {
  padding-top: 80px;
}

.citi-first-section__image-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: 60px;
  padding-bottom: 170px;

  p {
    position: absolute;
    top: 30px;
    left: 0;
    width: 480px;
  }
}

.citi-phone-01 {
  width: 876px;
  position: relative;
  z-index: 2;
  transform: translateY(170px) translateX(-48px);
}

.citi-phone-02 {
  width: 817px;
  transform: translateX(-248px);
}

.citi-phone-03 {
  padding-top: 50px;
  width: 965px;
  transform: translateX(50px);
  margin-bottom: -100px;
}

.citi-phone-04 {
  width: 456px;
  height: 800px;
  transform: translateX(55px);
}

.citi-screen-01 {
  width: 957px;
  transform: translateX(10px);
  padding-top: 125px;
}

.citi-screen-02 {
  width: 900px;
  height: 675px;
  transform: translateX(-30px);
}

.citi-screen-03 {
  width: 960px;
  height: 720px;
  transform: translateY(150px) translateX(-45.5%);
}

.citi-first-section__center-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg {
    width: 415px;
  }

  p {
    max-width: 845px;
    padding: 60px 0 0 30px;
  }
}

.citi-inner-section__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citi-inventory-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -100px;

  p {
    position: absolute;
    top: 35px;
    right: 0;
    max-width: 815px;
  }
}

.doc-manage-image-block {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

@media (max-width: 1400px) {

  .citi-bg-section {

    p {
      max-width: 565px;
    }
  }

  .citi-top-images-block {
    padding: 0;

    .tags-block {
      width: 220px;
    }
  }

  .citi-image {
    transform: scale(.9);
  }

  .citi-section {

    p {
      font-size: 28px;
    }
  }

  .citi-first-section {
    padding-top: 0;
  }

  .citi-first-section__center-block {

    p {
      max-width: 825px;
      z-index: 2;
    }
  }

  .citi-phone-01 {
    transform: translateY(100px) translateX(-86px) scale(.9);
  }

  .citi-phone-02 {
    transform: translateY(-60px) translateX(165px) scale(.9);
    position: absolute;
    right: 0;
    top: 0;
  }

  .citi-phone-03 {
    transform: translateX(50px) scale(.9);
    padding-top: 0;
  }

  .citi-phone-04 {
    transform: translateX(0) scale(.9);
    position: relative;
    z-index: 2;
  }

  .citi-screen-01 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(118px) scale(.98);
  }

  .citi-screen-02 {
    transform: translateX(-71px) scale(.9);
  }

  .citi-screen-03 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(150px) translateX(149px) scale(.9);
  }

  .citi-first-section__image-block {
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 50px;

    p {
      width: 415px;
    }
  }

  .citi-inventory-section {
    display: block;
    position: relative;
    margin-top: 0;

    p {
      max-width: 795px;
    }
  }

  .citi-inner-section__center {
    padding-top: 30px;
  }

  .doc-manage-image-block {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 1200px) {

  .citi-bg-section {

    .case-top-section-text-block {
      max-width: 47%;
    }
  }

  .citi-top-images-block {
    width: 60%;
    top: -105px;

    .tags-block {
      right: -27px;
    }
  }

  .citi-image {
    transform: scale(.85);
  }

  .citi-first-section__image-block {
    margin-top: 20px;

    p {
      max-width: 410px;
    }
  }

  .citi-first-section__center-block {

    p {
      max-width: 65%;
    }
  }

  .citi-inventory-section {

    p {
      max-width: 60%;
    }
  }
}

@media (max-width: 991px) {

  .citi-bg-section {
    margin-bottom: 700px;

    .subtitle {
      max-width: initial;
    }

    p {
      max-width: initial;
    }

    .case-top-section-text-block {
      max-width: 100%;
      width: 100%;
    }
  }

  .citi-top-images-block {
    top: 93%;
    right: initial;
    left: 50%;
    width:initial;
    justify-content: flex-start;
    margin-left: -270px;

    .tags-block {
      right: initial;
      left: 370px;
      top: 50%;
      transform: translateY(-60%);
      margin: 0;
    }
  }

  .citi-image {
    transform: translateX(-55px) scale(.9);
  }

  .citi-section {

    p {
      font-size: 20px;
    }
  }

  .citi-first-section__image-block {
    padding: 0;

    p {
      position: static;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  .citi-phone-01 {
    transform: translateY(0) translateX(-86px) scale(.9);
    margin-top: -25px;
  }

  .citi-phone-02{
    position: static;
    transform: translateX(-80px) scale(.9);
    margin-top: -150px;
  }

  .citi-phone-04 {
    display: block;
    margin: 0 auto;
    transform: translateX(40px) scale(.9);
  }

  .citi-screen-01 {
    position: relative;
    display: block;
    margin: -35px auto 0;
    padding: 0;
    right: initial;
    left: 50%;
    transform: translateX(-46%) scale(1);
    width: 114%;
  }

  .citi-screen-02 {
    position: relative;
    display: block;
    margin: 20px auto 0;
    padding: 0;
    right: initial;
    left: 50%;
    transform: translateX(-46%) scale(1);
    width: 114%;
    height: initial;
  }

  .citi-screen-03 {
    position: relative;
    display: block;
    margin: -115px auto;
    padding: 0;
    right: initial;
    left: 50%;
    transform: translateX(-46%) scale(1);
    width: 114%;
    height: initial;
  }

  .citi-first-section__center-block {
    flex-direction: column;

    svg {
      width: 100%;
      max-width: 400px;
    }

    p {
      max-width: 100%;
      padding: 20px 0 0;
    }
  }

  .citi-inventory-section {

    p {
      position: static;
      max-width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {

  .citi-bg-section {
    margin-bottom: 550px;
  }

  .citi-top-images-block {
    width: 100%;
    overflow: hidden;
    left: 0;
    margin: 0;
    top: 75%;
  }

  .citi-image {
    transform: translateX(-115px) scale(.7);
  }

  .citi-top-images-block {

    .tags-block {
      left: 300px;
    }
  }

  .citi-phone-01 {
    transform: translateX(-30px) scale(1);
    width: 105%;
    margin-top: 10px;
  }

  .citi-phone-02 {
    transform: translateX(-30px) scale(1);
    width: 105%;
    margin-top: -60px;
  }

  .citi-phone-03 {
    width: 115%;
    transform: translateX(5%) scale(1);
    margin-top: 20px;
    margin-bottom: -40px;
  }

  .citi-phone-04 {
    transform: translateX(40px) scale(1);
    width: 65%;
    height: initial;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .citi-screen-03 {
    margin: -80px auto -100px;
  }
}

@media (max-width: 600px) {

  .citi-phone-01 {
    transform: translateX(-25px) scale(1);
  }

  .citi-phone-02 {
    transform: translateX(-25px) scale(1);
  }

  .citi-inner-section__center {

    p {
      text-align: center;
    }
  }
}

@media (max-width: 500px) {

  .citi-screen-03 {
    margin: -15vw auto -80px;
  }

  .citi-bg-section {
    margin-bottom: 110vw;
  }

  .citi-image {
    transform: translateX(0) scale(1);
    width: 80%;
  }

  .citi-top-images-block {
    top: 105%;

    .tags-block {
      left: 55%;
      top: 20px;
      transform: none;
    }
  }

  .citi-phone-01 {
    transform: translateX(-8px);
  }

  .citi-phone-02 {
    transform: translateX(-8px);
  }

  .citi-phone-04 {
    transform: translateX(25px);
  }
}

@media (max-width: 410px) {

  .citi-top-images-block {
    padding-bottom: 40px;

    .tags-block {
      left: 53%;
    }

    .tags-block__item{
      font-size: 12px;
      padding: 1px 7px;
    }
  }

  .marketplace-block {
    flex-direction: column;
    align-items: flex-start;

    img:first-child {
      margin: 0 0 20px;
    }
  }
}