@import "partials/fonts";
@import "partials/variables";

.case-top-section-text-block {
  max-width: 700px;
  position: relative;
  z-index: 2;
}

.done4you-bg-section {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.82%, rgba(0, 0, 0, 0.2) 101.54%), #8CC544;;
  color: #fff;
  overflow: hidden;
  position: relative;

  .header-arrow {

    path {
      stroke: #fff;
    }
  }

  .top-logotype {

    img {
      width: 107px;
    }
  }

  .tags-block {
    margin-top: 55px;
  }

  .case-top-section {
    padding-top: 0;
  }

  .top-image {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(37%,33%);
    pointer-events: none;

    img {
      width: 1202px;
    }
  }
}

.done4you-half-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    max-width: 500px;
  }
}

.done4you-half-section-revers {

  .half-section__text-block {
    padding: 0 30px 0 0;
  }
}

.half-section__img {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.half-section__wrp {
  position: relative;
}

.half-section__phone-00 {
  height: 862px;
  position: relative;
  z-index: 2;
}

.half-section__circle-00 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.half-section__phone-01 {
  height: 862px;
  display: block;
  z-index: 2;
  position: relative;
}

.half-section__circle-01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.half-section__phone-02 {
  height: 862px;
  position: relative;
  z-index: 2;
  display: block;
}

.half-section__circle-02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.half-section__phone-03 {
  height: 862px;
  position: relative;
  z-index: 2;
  display: block;
}

.half-section__circle-03 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.half-section__text-block {
  width: 50%;
  padding-left: 30px;

  h3 {
    margin-bottom: 30px;
    max-width: 485px;
  }
}

.half-section__circle {
  border: 3px solid $colorGreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.done4you-bottom-img {
  width: 1262px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1330px) {

  .done4you-bg-section {

    .top-image {
      transform: translate(39%,33%) scale(.8);
    }
  }

  .done4you-bottom-img {
    max-width: 1262px;
    width: 100%;
  }
}

@media (max-width: 1200px) {

  .done4you-bg-section {

    .case-top-section-text-block {
      max-width: 640px;
    }

    .top-image {
      transform: translate(43%,41%) scale(.7);
    }
  }
}

@media (max-width: 991px) {

  .done4you-first-section {
    padding-top: 600px;
  }

  .done4you-bg-section {
    overflow: visible;

    .case-top-section-text-block {
      max-width: initial !important;
    }

    .tags-block {
      max-width: initial !important;
    }

    .top-image {
      height: 600px;
      width: 100vw;
      overflow: hidden;
      top: 100%;
      transform: none;
      border-bottom: 1px solid #F0F3F4;
      right: -30px;

      img {
        transform: translateY(-24%);
      }
    }
  }

  .done4you-half-section {
    flex-direction: column-reverse;
    padding-top: 50px;
    margin-bottom: 0;
  }

  .half-section__phone-00 {
    height: 862px;
    transform: translateX(0);
  }

  .half-section__phone-01 {
    height: 862px;
  }

  .half-section__phone-02 {
    height: 862px;
  }

  .half-section__phone-03 {
    height: 862px;
  }

  .half-section__text-block {
    width: 100%;
    padding: 0 0 40px;

    h3 {
      max-width: initial;
    }

    p {
      max-width: initial;
    }
  }

  .half-section__img {
    width: 100%;
  }

  .done4you-half-section-revers {
    flex-direction: column;

    .half-section__text-block {
      padding: 0 0 40px;
    }
  }

  .half-section__circle {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {

  .done4you-bg-section {

    .case-top-section {
      padding-top: 30px;
    }
  }

  .half-section__phone-00 {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }

  .half-section__phone-01 {
    position: relative;
  }

  .half-section__phone-02 {
    position: relative;
  }

  .half-section__phone-03 {
    position: relative;
  }

  .done4you-bottom-img {
    transform: translateX(1%);
  }
}

@media (max-width: 600px) {

  .done4you-bg-section {

    .top-image {
      right: -15px;

      img {
        transform: translateY(-24%) translateX(-19%) scale(.8);
      }
    }
  }
}

@media (max-width: 500px) {

  .half-section__phone-02, .half-section__phone-01, .half-section__phone-03, .half-section__phone-00 {
    height: 620px;
  }

  .half-section__circle-00, .half-section__circle-01, .half-section__circle-02, .half-section__circle-03 {
    width: 430px;
  }
}