@import "partials/fonts";
@import "partials/variables";

.gain-bg-section {
  background: linear-gradient(1deg,#f17d3b 2.27%,#c333e7 98.17%),#9b51e0;
  color: #fff;

  .header-arrow {

    path {
      stroke: #fff;
    }
  }

  .case-top-section {
    flex-direction: revert;
    justify-content: space-between;
    width: 100%;
  }

  .tags-block {
    max-width: 530px;

    .tags-block__item {
      padding: 5px 17px;
    }
  }
}

.case-top-section-image-block {
  width: 50%;
  position: relative;
}

.image-block__img-wrp {
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-35%);
}

.case-top-section-text-block {
  width: 50%;
  padding-left: 60px;
}

.gain-phone-01 {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.35), 80px 80px 150px rgba(0, 0, 0, 0.25);
}

.top-section-icons-block {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-bottom: 70px;
}

.icons-block  {
  width: 50%;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}

.icons-block__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icons-block__circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $colorGreenGain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.icons-block__text {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.gain-section {
  position: relative;
  z-index: 2;

  h2 {
    color: #463B52;
    margin-bottom: 50px;
  }
}

.gain-screen-item {

  p {
    font-size: 28px;
    font-weight: 700;
    line-height: 193%;
    background: linear-gradient(250.23deg, #F17D3B 2.27%, #C333E7 98.17%), #9B51E0;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 30px;
  }
}

.screen-wrp {
  width: 272px;
  position: relative;
}

.gain-shadow {
  width: 272px;
  height: 589px;
  box-shadow: 0px 11px 30px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.gain-phone {
  width: 272px;
  position: relative;
  z-index: 2;
}

.gain-screen-item {
  text-align: center;
  position: relative;
}

.section-four-elements {
  display: flex;
  justify-content: space-between;
}

.section-three-elements {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
}

.gain-arrow {
  width: 50%;
  height: 2px;
  background: #E9E9E9;
  position: absolute;
  top: 26px;
  right: -15%;
  transform: translateX(50%);

  &:before {
    content: " ";
    display: block;
    height: 2px;
    width: 12px;
    background: inherit;
    position: absolute;
    top: -5px;
    right: 0;
    transform: rotate(45deg);
  }

  &:after {
    content: " ";
    display: block;
    height: 2px;
    width: 12px;
    background: inherit;
    position: absolute;
    top: 5px;
    right: 0;
    transform: rotate(-45deg);
  }
}

.gain-tile-block {
  display: flex;
  width: 100%;
  max-width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.tile-item {
  background: linear-gradient(250.23deg, #F17D3B 2.27%, #C333E7 98.17%), #9B51E0;
  border-radius: 8px;
  padding: 60px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  width: 320px;

  svg {
    margin-bottom: 30px;
  }
}

.tile-item__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

.tile-item__text {
  font-weight: 400;
}

@media (max-width: 1400px) {

  .gain-arrow {
    width: 25%;
    right: -12%
  }
}

@media (max-width: 1300px) {

  .case-top-section-text-block {
    padding-left: 0;
  }

  .icons-block {
    padding-left: 0;
  }
}

@media (max-width: 1200px) {

  .image-block__img-wrp {

    svg {
      width: 680px;
      min-width: 680px;
    }
  }

  .screen-wrp {
    width: 225px;
  }

  .gain-shadow {
    width: 225px;
    height: 487px;
  }

  .gain-phone {
    width: 225px;
  }

  .gain-screen-item {

    p {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .gain-arrow {
    top: 20px;
    right: -5%;
  }

  .section-three-elements {
    width: 750px;
  }

  .tile-item {
    width: 300px;
  }

  .icons-block__text {
    padding: 0 5px;
  }
}

@media (max-width: 991px) {

  .gain-bg-section {

    .case-top-section {
      flex-direction: column-reverse;

      p {
        max-width: initial;
      }
    }

    .tags-block {
      max-width: initial;
    }
  }

  .case-top-section-text-block {
    width: 100%;
    max-width: initial;
  }

  .case-top-section-image-block {
    width: 100%;
    height: 180px;
  }

  .top-section-icons-block {
    margin-top: 600px;
  }

  .image-block__img-wrp {
    position: static;
    transform: none;
    overflow: hidden;
    margin: -80px -30px 0;
    display: flex;
    justify-content: center;

    svg {
      transform: translateX(100px);
    }
  }

  .icons-block {
    width: 100%;
    position: relative;
    z-index: 3;
  }

  .section-four-elements {
    flex-wrap: wrap;
  }

  .gain-screen-item {
    width: 50%;
    margin-bottom: 50px;

    &:nth-child(2) {

      .gain-arrow {
        display: none;
      }
    }
  }

  .screen-wrp {
    margin: 0 auto;
    width: 272px;
  }

  .gain-shadow {
    width: 272px;
    height: 589px;
  }

  .gain-phone {
    width: 272px;
  }

  .gain-tile-block {
    flex-direction: column;
    align-items: center;
  }

  .tile-item {
    margin-bottom: 40px;

    &:last-child {
      margin: 0;
    }
  }

  .section-three-elements {
    flex-wrap: wrap;
    width: initial;

    .gain-screen-item {

      &:last-child {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {

  .gain-section {

    h2 {
      margin-bottom: 30px;
    }
  }

  .image-block__img-wrp {
    margin-left: -15px;
    margin-right: -15px;
  }

  .screen-wrp {
    width: 210px;
  }

  .gain-shadow {
    width: 210px;
    height: 454px;
  }

  .gain-phone {
    width: 210px;
  }

  .gain-arrow {
    width: 20%;
    right: -2%;
  }
}

@media (max-width: 480px) {

  .image-block__img-wrp {
    margin-top: -180px;

    svg {
      width: 550px;
      min-width: 550px;
      transform: translateX(78px);
    }
  }

  .top-section-icons-block {
    margin-top: 450px;
  }

  .gain-screen-item {
    margin-bottom: 30px;

    p {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .screen-wrp {
    width: 160px;
  }

  .gain-shadow {
    width: 160px;
    height: 346px
  }

  .gain-phone {
    width: 160px;
  }

  .tile-item {
    max-width: 300px;
    width: 100%;

    svg {
      margin-bottom: 15px;
    }
  }

  .tile-item__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .tile-item__text {
    font-size: 16px;
  }
}

@media (max-width: 380px) {

  .gain-screen-item {
    width: 100%;
  }

  .gain-arrow {
    display: none;
  }

  .screen-wrp {
    width: 210px;
  }

  .gain-shadow {
    width: 210px;
    height: 454px;
  }

  .gain-phone {
    width: 210px;
  }
}