@import "partials/fonts";
@import "partials/variables";

main {
  overflow: visible;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

header .main-wrp {
  position: relative;

  &:before {
    content: " ";
    display: block;
    width: 50%;
    height: 166px;
    background: $colorYellow;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -96px;
  }
}

.logotype {

  svg {
    position: relative;
    z-index: 2;
  }
}

.header-arrow {
  position: relative;
  z-index: 2;

  path {
    stroke: $colorGrayLim;
  }
}

.lim-section-wrp {
  margin: 0 -30px;
}

.lim-section {
  width: 50%;
  padding: 115px 30px 50px;
  position: relative;
  color: $colorGrayLim;
  height: 1532px;

  &:before {
    content: " ";
    width: 100%;
    height: 766px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:nth-child(odd) {
    float: left;

    &:before {
      background: $colorGrayLim;
    }
  }

  &:nth-child(even) {
    float: right;
    overflow: hidden;

    &:before {
      background: $colorYellow;
    }
  }

  &:nth-child(2) {
    margin-bottom: -146px;

    &:before {
      top: -150px;
      height: 769px;
    }
  }

  &:first-child {
    padding-left: 70px;
    height: 620px;

    &:before {
      display: none;
    }
  }

  &:nth-last-child(3) {
    height: initial;
  }

  &:nth-last-child(2) {
    height: initial;

    .top-part {
      height: 150px;
    }

    &:before {
      display: none;
    }

    .lim-section__text-block {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .tags-block {
    justify-content: flex-start;
    margin-left: -5px;
    margin-right: -5px;
  }

  h2 {
    text-align: left;
    position: relative;
    margin: 0 0 23px;

    &:before {
      content: " ";
      width: 61px;
      height: 1px;
      border-bottom: 11px dotted $colorYellow;
      position: absolute;
      top: 29px;
      left: -80px;
      transform: translateY(-50%);
    }
  }
}

.lim-title {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  h1 {
    color: $colorGrayLim;
    margin: 0 0 0 40px;
  }
}

.phone-wrp {
  position: relative;
  width: 427px;
  margin: 0 auto;

  .shadow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.lim-phone {
  width: 427px;
  display: block;
  position: relative;
  z-index: 2;
}

.lim-section__text-block {
  padding: 60px 30px 115px 117px;
}

@media (max-width: 1500px) {

  .lim-section {

    .tags-block {
      max-width: 600px;
    }
  }
}

@media (max-width: 1500px) {

  .lim-section {

    &:first-child {
      padding-left: 35px;
      padding-top: 80px;
    }

    &:nth-child(2) {
      padding-top: 80px;
    }
  }

}

@media (max-width: 1200px) {

  .lim-title {
    margin-bottom: 30px;

    svg {
      width: 120px;
    }

    h1 {
      margin: 0 0 0 30px;
    }
  }

  .lim-section__text-block {
    padding-left: 80px;
  }

}

@media (max-width: 991px) {

  header .main-wrp {

    &:before {
      display: none;
    }
  }

  .lim-section {
    width: 100%;
    height: initial !important;
    overflow: hidden;

    &:nth-child(2) {
      margin-bottom: 0;

      &:before {
        top: 0;
      }
    }

    &:nth-last-child(2) {
      padding-top: 0;

      .top-part {
        height: 0;
      }
    }
  }

  .phone-wrp {

    .shadow {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 600px) {

  .lim-section-wrp {
    margin: 0 -15px;
  }

  .lim-section {

    &:before {
      height: 615px !important;
    }
  }

  .lim-phone {
    width: 305px;
  }

  .phone-wrp {
    width: 305px;

    .shadow {
      width: 485px;
    }
  }

  .lim-section__text-block {
    padding: 55px 0 65px 90px;
  }
}

@media (max-width: 400px) {

  .lim-title {

    svg {
      width: 100px;
      height: 70px;
    }

    h1 {
      margin-left: 15px;
    }
  }

  .lim-section__text-block {
    padding-left: 0;
  }

  .lim-section {

    h2 {

      &:before {
        display: none;
      }
    }
  }
}