@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/InterRegular.eot');
  src: url('../fonts/inter/InterRegular.eot') format('embedded-opentype'),
  url('../fonts/inter/InterRegular.woff2') format('woff2'),
  url('../fonts/inter/InterRegular.woff') format('woff'),
  url('../fonts/inter/InterRegular.ttf') format('truetype'),
  url('../fonts/inter/InterRegular.svg#InterRegular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/MontserratBold.eot');
  src: url('../fonts/montserrat/MontserratBold.eot') format('embedded-opentype'),
  url('../fonts/montserrat/MontserratBold.woff2') format('woff2'),
  url('../fonts/montserrat/MontserratBold.woff') format('woff'),
  url('../fonts/montserrat/MontserratBold.ttf') format('truetype'),
  url('../fonts/montserrat/MontserratBold.svg#MontserratBold') format('svg');
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, textarea, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  outline: none !important;
  box-sizing: border-box;
}

::selection {
  background: #9AB83A; /* Safari */
  color: #fff;
}
::-moz-selection {
  background: #9AB83A; /* Firefox */
  color: #fff;
}

.wrapper-all {
  background: url(../image/bg_green_anthill.jpg);
  background-position: center;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.004em;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.logotype {
  margin-bottom: 30px;
  width: 69px;
  height: 61px;
}

.copyright {
  letter-spacing: -0.004em;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  color: #fff;
}