<div class="header-logo">
  <a href="index.html">
    <img class="header-logo__img logo-desktop" src="images/logo_desktop.svg" alt="Itp - software development company">
    <img class="header-logo__img logo-mobile-menu" src="images/logo_mobile_menu.svg" alt="Itp - software development company">
  </a>
</div>
<div class="header-nav-block">
  <nav class="nav header-nav">
    @@if (linkActive === 'service') {
      <a href="javascript:void(0);" class="active">Services</a>
      <a href="contacts.html">Contacts</a>
    }

    @@if (linkActive === 'contacts') {
    <a href="services.html">Services</a>
    <a href="javascript:void(0);" class="active">Contacts</a>
    }
    @@if (linkActive === '') {
      <a href="services.html">Services</a>
      <a href="contacts.html">Contacts</a>
    }
  </nav>
  <nav class="header-nav-social" style="display: none">
    <a href="https://rostov.hh.ru/employer/3636891" target="_blank">ХедХантер</a>
    <a href="https://www.instagram.com/itpremium_it/" target="_blank">Инстаграм</a>
    <a href="https://vk.com/itpremium_it" target="_blank">Вконтакте</a>
  </nav>
  <p class="copyright">
    © ITP
  </p>

</div>
<div class="mobile-menu-icon">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<div class="loader-wrapper">
  <img class="loader" src="images/loader.png">
</div>

<!--@@include('_analytics.html')-->

@@include('_mail-popup.html')
@@include('_mail-popup-error.html')