
//colors

$colorText: #303030;

$colorGreen: #91B05A;
$colorGreenHover: #7d974f;

$colorGreenGain: #5BCF8D;

$colorYellow: #FCC32C;
$colorOrange: #FFA931;

$colorGray: #696E84;
$colorGrayLim: #334D6E;

$colorRed: #EF5839;
$colorDeepBlue: #2D507C;

$colorBlue: #72C3D7;

$colorCascadeBlue: #066E8F;
$colorCascadeBlueDeep: #173446;